* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.SideBar {
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
  width: 296px;
  height: 100vh;
  background-color: white;
  z-index: 20;
}

.SideBar > h2 {
  width: 119px;
  height: 43px;
  padding-left: 38px;
  padding-top: 37.08px;
  font-family: "Lato";
  font-style: italic;
  font-weight: 800;
  font-size: 35.4809px;
  line-height: 43px;
  color: #323232;
}

.SideBar .links {
  width: 190px;
  padding-left: 19px;
  padding-top: 146.95px;
}

.SideBar .links li {
  height: 34px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22.8024px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: #494949;
  list-style-type: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.29);
}

.SideBar .links li:first-child {
  color: #72aa83;
}

.BottomBar {
  position: absolute;
  left: 29px;
  bottom: 100px;
}

.BottomBar button {
  width: 231px;
  height: 70px;
  background: linear-gradient(180deg, #48af78 0%, #42996b 100%);
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.BottomBar .number {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 17.5894px;
  line-height: 21px;
  letter-spacing: -0.07em;
  color: #494949;
  display: block;
  padding-left: 70px;
}

.BottomBar .text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 17.5894px;
  line-height: 21px;
  letter-spacing: -0.07em;
  color: #494949;
  display: block;
  padding: 10px 0 10px 80px;
}

/* Main Screen CSS */

.main-screen {
  background-color: #d9d9d9;
  width: calc(100% - 296px);
  height: 100vh;
  padding: 50px 50px 0;
}

.numberOfRequests {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28.5557px;
  line-height: 43px;
  letter-spacing: -0.02em;
  color: #72aa83;
}

.box-1 {
  margin-top: 29px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 50px;
  margin-bottom: 50px;
}

.div2 > div {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16.9257px;
  line-height: 20px;
  color: #959595;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2 {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 54px;
  padding: 50px;
}

.multiple-boxes {
  display: flex;
  gap: 50px;
  margin-top: 29px;
}

.multiple-boxes > div {
  flex-basis: 33%;
  background: #f5f4f4;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multiple-boxes > div > svg {
  margin-top: 10px;
}

.holiday {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 19.1247px;
  line-height: 29px;
  color: #85c371;
  margin-bottom: 5px;
}

.booking {
  background: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.booking > div {
  display: flex;
  align-items: center;
}

.booking > span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 17.5894px;
  line-height: 21px;
  letter-spacing: -0.07em;
  color: #959595;
  margin-bottom: 4px;
}

.booking > div > div {
  flex-basis: 50%;
  padding: 10px;
}

.book-now > a {
  background: #44a16f;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
}

.booking-rates {
  display: flex;
  flex-direction: column;
}

.booking-rates > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15.2321px;
  line-height: 23px;
  letter-spacing: -0.07em;
  color: #959595;
}

.chat {
  position: absolute;
  width: 138px;
  height: 138px;
  right: 20px;
  bottom: 20px;
  background: #44a16f;
  border: 1px solid #69ac80;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
